
@{
    ViewBag.Title = "Form";
}
<div>
    @using (Html.BeginForm("RegisterForm", "User"))
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <form class="form-horizontal">
                    <h3 align="center">LanceBucket</h3><
                    <hr />
                    <h6 align="center"> Sign Up for Free Today!</h6>

                    <hr />
                    <div class="form-group">
                        <label for="inputName" class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <input class="form-control" name="FristName" id="inputFName" placeholder=" FristName" type="text">
                        </div>

                    </div>


                    <div class="form-group">
                        <label for="inputName" class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <input class="form-control" name="LastName" id="inputLName" placeholder=" LastName" type="text">
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <input class="form-control" name="Email" id="inputUserName" placeholder="Email" type="email">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <input class="form-control" name="Password" id="inputPassword" placeholder="Password" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmPassword" class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <input class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" type="password">
                        </div>
                    </div>


                    <div>
                        <div class="form-group">
                            <label for="inputName" class="col-lg-2 control-label"></label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputName1" name="DateofBrith" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="DateofBrith">
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <input class="form-control" id="inputName2" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="JoinDate" placeholder="Join Date">
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputName" class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <input class="form-control" name="State" id="inputName" placeholder="State" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputName" class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <input class="form-control" name="City" id="inputName" placeholder=" City" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputName" class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <input class="form-control" id="inputName" list="countries" name="Country" placeholder=" Country">
                            <datalist id="countries">
                                <option value="Bangladesh">
                                <option value="Australia">
                                <option value="India">
                                <option value="Brazil">
                                <option value=" Cambodia">
                            </datalist>
                        </div>

                    </div>


                    <div class="">
                        <label class="col-lg-2 control-label"></label>
                        <div class="col-lg-10">
                            <div class="radio">

                                <input name="UserType" id="optionsRadios1" value="Owner" checked="" type="radio">
                                Hire

                            </div>
                            <div class="radio">
                                <input name="UserType" id="optionsRadios2" value="Worker" type="radio">
                                Worker
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" name="submit" value="  Create Account  " class="btn btn-default btn-block" />
                        </div>
                    </div>


                </form>
                <hr>
                Already a Lance Bucket.com member?@Html.ActionLink("Login", "LoginForm", "User")
            </div>


            <div class="col-md-4"></div>
        </div>

    }
</div>