
@{
    ViewBag.Title = "RatingWorker";
    
}

<h2>Give Rating to the Owner</h2>
@using (Html.BeginForm("RatingWorker", "Owner"))
{

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h4>COMMUNICATION</h4>
        </div>
        <div class="col-md-3">
            <div class="rating">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" name="Communicationskill" type="text">
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h4>RELIABILITY</h4>
        </div>
        <div class="col-md-3">
            <div class="rating">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" name="reliability" type="text">
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h4>ONWORD</h4>
        </div>
        <div class="col-md-3">
            <div class="rating">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control"  name="onword"type="text">
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h4>BEHAVIOUR</h4>
        </div>
        <div class="col-md-3">
            <div class="rating">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" name="behaviour" type="text">
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-1">
            <input type="submit" class="btn btn-primary"/>
        </div>
        <div class="col-md-3"></div>
    </div>

}


