@model FMS_Model.RatingWorkerModel
@{
    ViewBag.Title = "RatingWorker";
    Layout = "~/Views/Shared/AfterLoginOwner.cshtml";
}

<h2>Give Rating to the Worker</h2>

    @using (Html.BeginForm("RatingWorkers", "Owner"))
    {
      
        <input type="hidden" name="UserId" value="@Model.Id" />
        <input type="hidden" name="PostId" value="@Model.PostId" />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h4>ONTIME</h4>
            </div>
            <div class="col-md-3">
                <div class="rating">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="Ontime" type="text">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h4>ONBUDGET</h4>
            </div>
            <div class="col-md-3">
                <div class="rating">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="Onbudget" type="text">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h4>BEHAVIOUR</h4>
            </div>
            <div class="col-md-3">
                <div class="rating">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="Behaviour" type="text">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h4>COMPLETENESS</h4>
            </div>
            <div class="col-md-3">
                <div class="rating">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="Completeness" type="text">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h4>COMMUNICATIONSKILL</h4>
            </div>
            <div class="col-md-3">
                <div class="rating">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="Communicationskill" type="text">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-1">
                <input type="submit" class="btn btn-primary"/>
            </div>
            <div class="col-md-3"></div>
        </div>
    }





